/* 
  # Developer By suhag78641@gmail.com
  # SASS Style
  # design inspiration by Huawei Personal info
  # copyright 2021-10-08
*/
// -------------------------------------------------------------------
// Title Mixin
// -------------------------------------------------------------------
@mixin transition($time, $time0) {
    -webkit-transition: color $time ease,background-color $time0 ease;
    -moz-transition: color $time ease,background-color $time0 ease;
    -ms-transition: color $time ease,background-color $time0 ease;
    -o-transition: color $time ease,background-color $time0 ease;
    transition: color $time ease,background-color $time0 ease;
}

@mixin transform($rotate) {
    -webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -ms-transform: rotate($rotate);
    -o-transform: rotate($rotate);
    transform: rotate($rotate);
}

// ------------------------------------------------------------
// Title SASS Style
// ------------------------------------------------------------
.box {
    .box-body {
        .box-items {
            list-style: none;
            padding: 0;
            margin: 0;
            background: #fff;
            padding: 0px 12px;
            border-radius: 12px;
            margin-bottom: 10px;
            overflow: hidden;
            .single-item-box {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;
                padding-right: 15px;
                box-shadow:0 1px #e7e7e7;
                user-select: none;
                position: relative;
                @include transition(.2s);
                &:last-child {
                    box-shadow: 0 0.2px transparent;
                }
                &::before {
                    position: absolute;
                    content: '';
                    right: 2px;
                    border: solid #a1a5b7;
                    border-width: 0 1px 1px 0;
                    display: inline-block;
                    padding: 3px;
                    vertical-align: middle;
                    @include transform(-45deg);
                }
                &:hover {
                    color: #6b00ff;
                    @include transition(.2s);
                }
                .content-title {
                    font-size: 14px;
                    font-weight: 700;
                }
                .content-txt {
                    font-size: 15px;
                    font-weight: 400;
                }
                .content-img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
        }
        .box-items:last-child {margin-bottom: 0px;}
    }
}
 
