

button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 45px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

/* btn-1 */
.btn-1 {
	color: rgb(44, 44, 44);
	border: none;
	font-weight: 700;
	font-size: 1.05rem;
	border-radius: 50px;
	background: #ffffff;
	box-shadow: 20px 20px 60px #d9d9d9,
			   -20px -20px 60px #ffffff;
}

.btn-1::before {
	content: '';
	position: absolute;
	top: -10%;
	left: -5%;
	width: 110%;
	height: 120%;
	border-radius: 50px;
	z-index: -1;
	background: linear-gradient(45deg, #ffd880, #ff5520, #750cf2, #0cbcf2);
	transform: scale(0.8);
	transition: transform .4s;
}

.btn-1::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(45deg, #ffd880, #ff5520, #750cf2, #0cbcf2);
	z-index: -2;
	filter: blur(10px);
	transform: scale(0.5);
	transition: transform .4s;
}

.btn-1:hover::before, .btn-1:hover::after {
	transform: scale(1);
}

/* btn-2 */
