// page id__15__20211123
// background dot dot effect

// Main Style
.id__15__20211123 {
    background-color: #fdfdfd;
    background-image: radial-gradient(circle, #ddd 1px, rgba(0,0,0,0) 1px);
    background-size: 1rem 1rem;
}

// Normal Style
h1 {
    color: #49e5b0;
    font-size: 4rem;
    font-weight: 300;
}

p {opacity: .5;}