/* ===============  Default Style =============== */
.scroll-bar-area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.items-box{
    background: #fff;
    width: 24%;
    height: 250px;
    overflow: auto;
    box-shadow: inset 0 0 1px 0px black;
}
@media (min-width:200px) and (max-width: 499px) {.items-box {width: 100%;}}
@media (min-width:500px) and (max-width: 750px) {.items-box {width: 45%;}}

.items-box h2, p {margin: 10px;}

/* customize-items */
.customize-items {
    overflow: hidden;
    padding: 0;
    padding-right: 10px;
    display: flex;
}

.customize-box {
    overflow: auto;
}
/*---------------------------------
## Main Scroll Bar Design
---------------------------------*/

/* simple */
#simple-scrollbar::-webkit-scrollbar-track {
    border: 1px solid #000;
    background-color: #F9F8FE;}

#simple-scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: #F9F8FE;}

#simple-scrollbar::-webkit-scrollbar-thumb {
    background-color: #000;}

/* modern */
#modern-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F9F8FE;}

#modern-scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: #F9F8FE;}

#modern-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(223, 89, 89);
    background-image: -webkit-linear-gradient(
        45deg, 
        rgba(255, 255, 255, 0.2) 25%, 
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
    );
}

/* unique */
#unique-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F9F8FE;
    border-radius: 10px;
}
#unique-scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: #F9F8FE;
}
#unique-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ff89eb;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(
        0deg, 
        rgba(255, 255, 255, 0.5) 25%, 
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0.5) 75%,
        transparent 75%,
        transparent
    );
}

/* customize-id4 */
#customize-id1-scrollbar::-webkit-scrollbar-track {
    background-color: #ddd;}
#customize-id1-scrollbar::-webkit-scrollbar {
    width: 2px;}
#customize-id1-scrollbar:hover::-webkit-scrollbar {
    width: 5px;}
#customize-id1-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a2adb7;}

/* customize-id2 */
#customize-id2-scrollbar::-webkit-scrollbar-track {
    background-color: #ddd;
    border-radius: 10px;}
#customize-id2-scrollbar::-webkit-scrollbar {
    width: 5px;}
#customize-id2-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a2adb7;
    border-radius: 10px;}

/* customize-id6 */
#customize-id6-scrollbar::-webkit-scrollbar-track {
    background-color: dtransparent;
    border-radius: 10px;}
#customize-id6-scrollbar::-webkit-scrollbar {
    width: 10px;
    display: none;
    transition: all 0.5s ease 0.0s;
}
#customize-id6-scrollbar:hover::-webkit-scrollbar {
    display: block;
}
#customize-id6-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a2adb7;
    border-radius: 10px;}
