// Blog
.timeline_wrapper {
    position: relative;
    &::before {
        background-color: #7127ea;
        bottom: 0;
        content: "";
        left: -14px;
        position: absolute;
        top: 0;
        width: 2px;
        height: 100%;
        z-index: 0;
    }
}

.single_timeline {
    background: var(--bs-light);
    padding: 15px;
    border: 1px solid rgb(207 217 222);
    border-radius: 12px;
    margin-bottom: 30px;
    position: relative;
    &:last-child {
        margin-bottom: 0;
    }
    &::before {
        background: $theme-bg--primary;
        border: 3px solid #6100ff;
        border-radius: 50px;
        box-shadow: 0 0 0 4px $theme-bg--primary;
        width: 18px;
        height: 18px;
        content: "";
        position: absolute;
        left: -35px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    &::after {
        content: "";
        border-top: 10px solid #0000;
        border-right: 10px solid #cfd9de;
        border-bottom: 10px solid #0000;
        border-left: 10px solid #0000;
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
    }
    span {
        color: #6200ff;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 8px;
        display: block;
    }
    h2 {
        color: #000a2d;
        font-weight: 700;
    }
    p {
        margin-bottom: 0;
    }
}
