//Color-palete
$btn-color-selector-1:	  #7127ea;
$btn-color-selector-2:		rgb(113 39 234 / 40%);
$btn-color-selector-3:    #10111a;
$btn-color-transparent:		transparent;
// font color
$btn-color: 				$white;
$btn-color-hover: 			$btn-color-selector-1;
// background color
$btn-background: 			$btn-color-selector-1;
$btn-background-hover: 		$btn-color-transparent;
// border color
$btn-border-color: 			$btn-color-transparent;
$btn-border-color-hover:	$btn-color-selector-1;
$btn-border-size: 			2px;
// box shadow color
$btn-box-shadow: 			$btn-color-selector-2;
/* btn */
.btn {
	@include userSelect(none);
	border-radius:          12px;
	background-color:       $btn-background;
	box-shadow:             0px 5px 20px 0px $btn-box-shadow;
	border:                 $btn-border-size solid $btn-border-color;
	color:                  $btn-color;
	font-size:              $ui-font-size-2;
	font-weight:            $ui-font-weight-5;
	letter-spacing:         1px;
	line-height:            1;
	margin-bottom:          0;
	padding:                15px;
	text-align:             center;
	text-transform:         none;
	cursor:                 pointer;
	display:                inline-block;
	touch-action:           manipulation;
	vertical-align:         middle;
	white-space:            nowrap;
	@include transition-time2(.15s);
    &:hover {
        background-color:   $btn-background-hover;
        color:              $btn-color-hover;
        border:             $btn-border-size solid $btn-border-color-hover;
        box-shadow:         none;
    }
    &:focus {
        color:              $btn-color-selector-3;
        box-shadow:         0 0 0 0.25rem $btn-color-transparent;
    }
}

#app .section-area .btn {
    color:				$btn-color-hover;
    background-color:	$btn-background-hover;
    width:				200px;
    border:				$btn-border-size solid $btn-background;
    box-shadow: 		none;
	&:hover {
		color: 				$btn-color;
		background-color:	$btn-background;
		box-shadow:			0px 5px 20px 0px $btn-box-shadow;
	}
}

// Hyper Link
$hyper_link_btn-bg: rgb(240 248 255 / 70%);
$hyper_link_btn-border: 2px solid rgb(0 106 255 / 5%);
.hyper_link_btn {
    color: #000a2d;
	background: $hyper_link_btn-bg;
    border-radius: 12px;
    margin: 4px;
    border: $hyper_link_btn-border;
    box-shadow: none;
	letter-spacing: 0.5px;
	&:hover {
		border: $hyper_link_btn-border;
		background: $hyper_link_btn-bg;
	}
	i {
		font-size: 14px;
	}
}
