/* footer */
.footer__area {
	width: 100%;
	height: 50px;
    display: flex;
    align-items: center;
}

.iDUi__social__media a {
    margin-right: 10px;
}

.iDUi__copyright {
	font-size: 14px;
	text-align: end;
}

@media (min-width:300px) and (max-width:750px){
    .footer__area {text-align: center;line-height: 2.5;}
	.iDUi__copyright {text-align: center;}
}

/* 000webhost.com */
[alt="www.000webhost.com"] {
    opacity: 0;
    visibility: hidden;
    display: none;
}