// @include transition(.3s);
@mixin transition($time) {
-webkit-transition: all $time ease-out 0s;
   -moz-transition: all $time ease-out 0s;
    -ms-transition: all $time ease-out 0s;
     -o-transition: all $time ease-out 0s;
        transition: all $time ease-out 0s;
}
// @include transition-time2(.15s);
@mixin transition-time2($time2) {
   transition        : color $time2 ease-in-out,
   background-color          $time2 ease-in-out,
   border-color              $time2 ease-in-out,
   box-shadow                $time2 ease-in-out
}

// @include transform(45deg);
@mixin transform($rotate) {
-webkit-transform: rotate($rotate);
   -moz-transform: rotate($rotate);
    -ms-transform: rotate($rotate);
     -o-transform: rotate($rotate);
        transform: rotate($rotate);
}
// @include userSelect(none);
@mixin userSelect($select) {     
-webkit-user-select: ($select);
   -moz-user-select: ($select);
        user-select: ($select);
}
