// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Fonts system
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Lato:wght@100;300;400;500;600&family=Roboto:wght@300;400;500;600;700&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

// Color system
// scss-docs-start gray-color-variables
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;     // secondary
$gray-700: #495057;
$gray-800: #343a40;     // gray-dark
$gray-900: #212529;
$black:    #000;

// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;
// scss-docs-end color-variables

// ui-primary-Start color-variables
$ui-color-primary:	    #7127ea;
$ui-color-secondary:	#000a2d;
// ui-primary-End color-variables

// scss-docs-start theme-color-variables
$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;
// scss-docs-end theme-color-variables

// Carousel
// scss-docs-start carousel-variables
$carousel-control-color:             $white;
$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
// scss-docs-end carousel-variables


// body color-selector-variables
$color-selector-1: rgb(230 240 254);
$color-selector-2: rgb(13 110 253 / 10%);
$color-selector-3: rgb(32 33 36 / 100%);
// primary-theme-colors
$theme-bg--primary:     $color-selector-1;
$theme-bg--secondary:   $color-selector-2;
$theme-bg--dark:        $color-selector-3;


// body font-family variables
$ui-font-family-open-sans:       'Open Sans', sans-serif;
$ui-font-family-lato:            'Lato', sans-serif;
$ui-font-family-roboto:          'Roboto', sans-serif;
$ui-font-family-hind-siliguri:   'Hind Siliguri', sans-serif;

// body font-size variables
$ui-font-size-1:          .75rem;       // 12px
$ui-font-size-2:          .875rem;      // 14px
$ui-font-size-3:          1rem;         // 16px
$ui-font-size-4:          1.25rem;      // 20px
$ui-font-size-5:          1.5rem;       // 24px
$ui-font-size-6:          2rem;         // 32px
$ui-font-size-7:          2.5rem;       // 40px
$ui-font-size-8:          3rem;         // 48px
$ui-font-size-9:          3.5rem;       // 56px
$ui-font-size-10:          4rem;        // 64px
$ui-font-size-11:         4.5rem;       // 72px
$ui-font-size-12:         5rem;         // 80px

// body font-style variables
$ui-font-style-normal:    normal;
$ui-font-style-italic:    italic;

$ui-font-style-primary:   $ui-font-style-normal;

// body font-weight variables
$ui-font-weight-0:        normal;
$ui-font-weight-1:        100;
$ui-font-weight-2:        200;
$ui-font-weight-3:        300;
$ui-font-weight-4:        400;
$ui-font-weight-5:        500;
$ui-font-weight-6:        600;
$ui-font-weight-7:        700;
$ui-font-weight-8:        800;
$ui-font-weight-9:        900;

$ui-font-weight-primary: $ui-font-weight-0;
$ui-font-weight-secondary: $ui-font-weight-6;

// body primary call
$body-font-family:        $ui-font-family-open-sans;
$body-font-size:          $ui-font-size-3;
$body-font-style:         $ui-font-style-primary;
$body-font-weight:        $ui-font-weight-0;
