@font-face {
    font-family: 'Durbar';
    src: url('../fonts/durbar.eot');
    src: url('../fonts/durbar.eot?#iefix') format('embedded-opentype'),
        url('../fonts/durbar.woff2') format('woff2'),
        url('../fonts/durbar.woff') format('woff'),
        url('../fonts/durbar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
