/*!
* Plexusa7 v2.0.0 (https://plexusa7.com/)
* Copyright 2020-2021 The Plexusa7 Authors
* Licensed (https://github.com/suhag47/LICENSE)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Lato:wght@100;300;400;500;600&family=Roboto:wght@300;400;500;600;700&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
:root {
  --ui-color-code-1: #7127ea;
  --ui-color-code-2: #000a2d;
  --ui-color-code-3: #00c867;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
}

a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

a,
button {
  color: #000a2d;
  outline: none;
}

a,
.button {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

.active,
a:focus,
a:hover i,
a:hover {
  color: #7127ea;
  text-decoration: none;
}

a.active {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000a2d;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 600;
  text-transform: normal;
  margin-top: 0px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: #344767;
  margin-bottom: 0.75rem;
}

hr {
  border-bottom: 1px solid #eceff8;
  border-top: 0 none;
  margin: 30px 0;
  padding: 0;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

img, video {
  width: 100%;
}

.img {
  max-width: 100%;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

*::-moz-selection {
  background: var(--ui-color-code-1);
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: var(--ui-color-code-1);
  color: #fff;
  text-shadow: none;
}

::selection {
  background: var(--ui-color-code-1);
  color: #fff;
  text-shadow: none;
}

*::-moz-placeholder {
  color: #495057;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #495057;
  font-size: 14px;
  opacity: 1;
}

.theme-overlay {
  position: relative;
}

.theme-overlay::before {
  background: #1696e7 none repeat scroll 0 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
}

.fix {
  overflow: hidden;
}

.separator {
  border-top: 1px solid #f2f2f2;
}

.breadcrumb > .active {
  color: var(--ui-primary);
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bn-fonts {
  font-family: "Hind Siliguri", sans-serif;
}

.bn-fw-300 {
  font-weight: 300;
}

.text_bg {
  background: var(--bs-light);
  padding: 15px;
  border: 1px solid #cfd9de;
  border-radius: 12px;
  position: relative;
}

.fa, .fas {
  font-family: "Font Awesome 5 free";
}

.theme-bg {
  background: #e6f0fe;
}

.rounded-4 {
  border-radius: 0.5rem;
}

.rounded-5 {
  border-radius: 1rem;
}

.rounded-6 {
  border-radius: 1.5rem;
}

.rounded-7 {
  border-radius: 2rem;
}

.rounded-8 {
  border-radius: 2.5rem;
}

/* btn */
.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 12px;
  background-color: #7127ea;
  box-shadow: 0px 5px 20px 0px rgba(113, 39, 234, 0.4);
  border: 2px solid transparent;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;
  padding: 15px;
  text-align: center;
  text-transform: none;
  cursor: pointer;
  display: inline-block;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
  background-color: transparent;
  color: #7127ea;
  border: 2px solid #7127ea;
  box-shadow: none;
}
.btn:focus {
  color: #10111a;
  box-shadow: 0 0 0 0.25rem transparent;
}

#app .section-area .btn {
  color: #7127ea;
  background-color: transparent;
  width: 200px;
  border: 2px solid #7127ea;
  box-shadow: none;
}
#app .section-area .btn:hover {
  color: #fff;
  background-color: #7127ea;
  box-shadow: 0px 5px 20px 0px rgba(113, 39, 234, 0.4);
}

.hyper_link_btn {
  color: #000a2d;
  background: rgba(240, 248, 255, 0.7);
  border-radius: 12px;
  margin: 4px;
  border: 2px solid rgba(0, 106, 255, 0.05);
  box-shadow: none;
  letter-spacing: 0.5px;
}
.hyper_link_btn:hover {
  border: 2px solid rgba(0, 106, 255, 0.05);
  background: rgba(240, 248, 255, 0.7);
}
.hyper_link_btn i {
  font-size: 14px;
}

#loader-page {
  --background: #62ABFF;
  --front-color: #4F29F0;
  --back-color: #C3C8DE;
  --text-color: #414856;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader-page svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader-page svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}
#loader-page svg circle.back {
  stroke: var(--back-color);
}
#loader-page svg circle.front {
  stroke: var(--front-color);
}
#loader-page svg.circle-outer {
  height: 86px;
  width: 86px;
}
#loader-page svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}
#loader-page svg.circle-outer circle.back {
  animation: circle-outer 1.8s ease infinite 0.3s;
}
#loader-page svg.circle-outer circle.front {
  animation: circle-outer 1.8s ease infinite 0.15s;
}
#loader-page svg.circle-middle {
  height: 60px;
  width: 60px;
}
#loader-page svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}
#loader-page svg.circle-middle circle.back {
  animation: circle-middle 1.8s ease infinite 0.25s;
}
#loader-page svg.circle-middle circle.front {
  animation: circle-middle 1.8s ease infinite 0.1s;
}
#loader-page svg.circle-inner {
  height: 34px;
  width: 34px;
}
#loader-page svg.circle-inner circle {
  stroke-dasharray: 22 66;
}
#loader-page svg.circle-inner circle.back {
  animation: circle-inner 1.8s ease infinite 0.2s;
}
#loader-page svg.circle-inner circle.front {
  animation: circle-inner 1.8s ease infinite 0.05s;
}
#loader-page .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
}
#loader-page .text::before, #loader-page .text::after {
  content: attr(data-text);
}
#loader-page .text::before {
  color: var(--text-color);
}
#loader-page .text::after {
  color: var(--front-color);
  animation: text-animation 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle-outer {
  0% {
    stroke-dashoffset: 25;
  }
  25% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 301;
  }
  80% {
    stroke-dashoffset: 276;
  }
  100% {
    stroke-dashoffset: 276;
  }
}
@keyframes circle-middle {
  0% {
    stroke-dashoffset: 17;
  }
  25% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 204;
  }
  80% {
    stroke-dashoffset: 187;
  }
  100% {
    stroke-dashoffset: 187;
  }
}
@keyframes circle-inner {
  0% {
    stroke-dashoffset: 9;
  }
  25% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 106;
  }
  80% {
    stroke-dashoffset: 97;
  }
  100% {
    stroke-dashoffset: 97;
  }
}
@keyframes text-animation {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  50% {
    clip-path: inset(0);
  }
  100% {
    clip-path: inset(0 0 0 100%);
  }
}
.section-title span {
  color: var(--bs-primary);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 25px;
  display: block;
}
.section-title h2 {
  color: var(--bs-light);
  background: var(--bs-primary);
  font-size: 35px;
  margin-bottom: 30px;
  padding-left: 18px;
  border-radius: 5px;
}

#app {
  margin-top: 150px;
}
#app .section-area:nth-child(1) iframe {
  height: 800px;
}
#app .section-area:nth-child(2) iframe {
  height: 560px;
}
#app .section-area:nth-child(3) iframe {
  height: 390px;
}
#app .section-area:nth-child(4) iframe {
  height: 550px;
}
#app .section-area:nth-child(5) iframe {
  height: 550px;
}
#app .section-area:nth-child(6) iframe {
  height: 210px;
}
#app .section-area:nth-child(7) iframe {
  height: 320px;
}
#app .section-area:nth-child(8) iframe {
  height: 450px;
}
#app .section-area:nth-child(9) iframe {
  height: 620px;
}
#app .section-area:nth-child(10) iframe {
  height: 170px;
}
#app .section-area:nth-child(11) iframe {
  height: 200px;
}
#app .section-area:nth-child(12) iframe {
  height: 410px;
}
#app .section-area:nth-child(13) iframe {
  height: 430px;
}
#app .section-area:nth-child(14) iframe {
  height: 230px;
}
#app .section-area:nth-child(15) iframe {
  height: 350px;
}

/* Header */
.header-area > .container-fluid {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.breadcrumb-area {
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
  z-index: 99;
}

.page-header {
  height: 300px;
  background-size: cover;
  background-position: 50%;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.bg-gradient, .mask {
  background-image: linear-gradient(310deg, #7928ca, #ff0080);
}

.mask {
  position: absolute;
  background-position: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.sticky {
  position: fixed !important;
  top: 4.025rem;
  left: 1.5rem;
  right: 1.5rem;
  max-width: 100%;
  margin: auto;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  z-index: 999;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  background: #fff0;
}

.blur, .navbar {
  box-shadow: inset 0 0 2px #fefefed1;
  backdrop-filter: saturate(200%) blur(30px);
  -webkit-backdrop-filter: saturate(200%) blur(30px);
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.shadow_blur, .navbar {
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.9), 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.navbar__brand__logo {
  width: 74px;
  height: 74px;
  border-radius: 0.75rem;
  background-color: #f8f9fa;
}

.nav__title h5 {
  margin-bottom: 0.25rem;
}
.nav__title p {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 0;
}

.navbar {
  border-radius: 1rem;
  margin-top: -4rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  z-index: 100;
}
@media (min-width: 992px) {
  .navbar .navbar-nav {
    align-items: center;
  }
}
.navbar .navbar-nav .nav-link {
  color: #000a2d;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.navbar .navbar-nav .nav-link:hover {
  color: #7127ea;
}
.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .navbar-light .navbar-nav .show > .nav-link {
  color: #6610f2;
  font-weight: 600;
  background: rgba(113, 39, 234, 0.1);
  border-radius: 8px;
  max-width: 100%;
}
.navbar .navbar-toggler[aria-expanded=true] {
  border-color: rgba(113, 39, 234, 0.5);
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav {
  transition: 0.3s;
}

.show .navbar-nav {
  border-top: 1px solid rgba(113, 39, 234, 0.1);
  padding-top: 10px;
  margin-top: 8px;
}

[aria-expanded=true] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgb(113 39 234)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

@media (min-width: 200px) and (max-width: 767px) {
  .sticky {
    left: -23px;
    right: -23px;
  }

  .navbar.sticky {
    border-radius: 0;
  }
}
/* about */
.single__about__card {
  background-color: aliceblue;
  border-radius: 1rem;
  box-shadow: 0 0 0.875rem 0 rgba(41, 48, 66, 0.05);
}

.about__header {
  padding: 1rem;
  padding-bottom: 0;
}

.about__header h4 {
  color: #344767;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
  margin: 0;
}

.about__body {
  padding: 1rem;
}

.about__body p {
  color: #67748e;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0;
}

.profile__info__img {
  width: 100px;
  border-radius: 8px;
}

.about__info__list li {
  padding: 0.5rem 1rem;
  padding-left: 0;
  padding-top: 0;
  color: #67748e;
  font-size: 14px;
  line-height: 2;
}

.about__info__list li strong {
  color: #344767;
}

.about__info__list li a {
  color: inherit;
}
.about__info__list li a:hover {
  color: #7127ea;
}

.about__social__media li {
  padding: 0.5rem 1rem;
  padding-left: 0;
  padding-top: 0;
}

.about__social__media li strong {
  color: #344767;
  font-size: 14px;
}

.about__social__media li a.btn {
  background-color: transparent;
  background-image: none !important;
  box-shadow: none;
  border: none;
  padding: 0;
  margin-right: 12px;
}

.btn-facebook {
  color: #344e86;
}

.btn-twitter {
  color: #3ea1ec;
}

.btn-instagram {
  color: #0e456d;
}

.btn-youtube {
  color: #d41f1a;
}

.btn-github {
  color: #171a1d;
}

/* My Skillset */
.single__skill {
  background: aliceblue;
  padding: 1rem;
  box-shadow: 0 0 0.875rem 0 rgba(41, 48, 66, 0.05);
  border-radius: 12px;
  margin-bottom: 20px;
}

.skill__title h4 {
  color: #495057;
  font-size: 18px;
  font-weight: 700;
}

.skill__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill__text h3 {
  color: #495057;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.skill__text span {
  color: #495057;
  font-size: 14px;
  font-weight: 400;
}

.skill__body .progress {
  height: 8px;
  margin-top: 12px;
}

.timeline_wrapper {
  position: relative;
}
.timeline_wrapper::before {
  background-color: #7127ea;
  bottom: 0;
  content: "";
  left: -14px;
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  z-index: 0;
}

.single_timeline {
  background: var(--bs-light);
  padding: 15px;
  border: 1px solid #cfd9de;
  border-radius: 12px;
  margin-bottom: 30px;
  position: relative;
}
.single_timeline:last-child {
  margin-bottom: 0;
}
.single_timeline::before {
  background: #e6f0fe;
  border: 3px solid #6100ff;
  border-radius: 50px;
  box-shadow: 0 0 0 4px #e6f0fe;
  width: 18px;
  height: 18px;
  content: "";
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.single_timeline::after {
  content: "";
  border-top: 10px solid #0000;
  border-right: 10px solid #cfd9de;
  border-bottom: 10px solid #0000;
  border-left: 10px solid #0000;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
}
.single_timeline span {
  color: #6200ff;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}
.single_timeline h2 {
  color: #000a2d;
  font-weight: 700;
}
.single_timeline p {
  margin-bottom: 0;
}

/* footer */
.footer__area {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.iDUi__social__media a {
  margin-right: 10px;
}

.iDUi__copyright {
  font-size: 14px;
  text-align: end;
}

@media (min-width: 300px) and (max-width: 750px) {
  .footer__area {
    text-align: center;
    line-height: 2.5;
  }

  .iDUi__copyright {
    text-align: center;
  }
}
/* 000webhost.com */
[alt="www.000webhost.com"] {
  opacity: 0;
  visibility: hidden;
  display: none;
}

/*# sourceMappingURL=main.css.map */
