@import 'theme';
._table_ {
    width: 100%;
    // thead
    ._thead_ {
        @extend .theme-table;
        margin-bottom: 2px;
        ul {
            @extend .ul;
            li {
                @extend .li;
                font-weight: 700;
            }
        }
    }
    // tbody
    ._tbody_ {
        ul {
            @extend .theme-table;
            margin-bottom: 2px;
            @extend .ul;
            li {
                @extend .li;
                font-weight: 400;
            }
        }
    }
}
