/* =============== filter-blur =============== */
.box__1 {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box__1 i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.size {
    width: 10rem;
    height: 10rem;
}

.padding {
    padding: 50px 60px;
}

.bg_white_soft {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.backdrop_filter_5 {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.backdrop_filter_10 {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.transition {
    transition: .5s;
}

.hover:hover {
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
}

.bg_image {
    background-image: url(https://picsum.photos/id/1080/6858/4574), 
                      linear-gradient(rgb(219, 166, 166), rgb(0, 0, 172));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 245px;
}
